<footer id= "main_footer">
        <!-- Footer de la page d'accueil -->
        <div id="footer_logos_container">
            <img class="logo" src="./assets/Logo.png" alt="Logo de l'entreprise" id="footer_logo">
            <h1 id="footer_title">SeinkSansGroove</h1>
            <div id="contact_us_mail">
            <a href="mailto:seinksansgroove@gmail.com">seinksansgroove@gmail.com</a>    
            </div>
            

        </div>

        <!-- <div id="footer_separator"></div> -->

        <div id="black_container">
            <div id="footer_infos">
                <span id="footer_date">
                    2022 - 2023
                </span>

                <span id="footer_names">
                    Antoine Maïstre-Rice, Léa Jiner, Thomas Gorisse
                </span>
                <span>S3T-G1</span>
            </div>
        </div>
    </footer>