* , html , body{
    margin:0;
    padding:0;
}
/*--------------- MAIN ---------------*/

main {
    font-family: 'Inter', sans-serif;
}

main>section{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Liste des articles */
.article-list {
    background-color: green;
    padding: 1% 10%;
    
}

/* Article */
.article-item {
    /* background-color: #E9EAED; */
    display: flex;
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.2s;
}

.article-item *{
    cursor: auto;
}



.article-item:hover{
    transform: scale(1.01);
    cursor: pointer;
    transition: 0.3s;
}

/* Image de l'article */
.item-image {
    width: 50%;
    background-color: brown;
    /* border-right: solid 2px rgb(37, 37, 37); */
    border-radius: 10px;
    display: flex;
    justify-content: center;

    background-color: white;
    align-items: center;
}

.item-image>img {
    height: 150px;
    width: auto;
}

/* Description de l'article */
.item-content {
    padding: 10px;
    width: 80vw;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1.item-title {
    font-style: bold;
    font-size: 26px;
    color: black;
}

.item-price {
    color: rgb(194, 0, 0);
    font-size: larger;
    font-weight: bold;
}

.truck{
    width: 30px;
    margin-left: 20px;
}

/* boutons */
.item-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.item-buttons button{
    height: 70%;
}



.item-button-grey{
    background-color:#bfbfbf;
	border-radius:4px;
	border:1px solid #BFBFBF;
	cursor:pointer;
	color: black;
	padding:10px 17px;
    margin-right: 0.5%;
}
.item-button-grey:hover
{
    background-color:#aaaaaa;

}
.item-button-grey>span{
    cursor: pointer;
    position: relative;
    top: -9px;
}



.item-button-green{
    background-color:#12b034;
	border-radius:4px;
	border:1px solid #12b034;
	cursor:pointer;
	color:#ffffff;
	padding:10px 17px;
}
.item-button-green:hover{
    background-color:#17862f;
}

/* date */
.date-word{
    font-weight: bold;
}

.item-date{
    color: #484848;
}

#article_zone{
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-description{
    width: 60%;
}


#main_footer {
    margin-top: 150px;
    background-color: #35373B;
    height: 300px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

#main_footer > * {
    color: #bfbfbf;
    
}


#footer_logos_container {
    margin : 0 auto;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
}


#footer_title {
    color: white;
    font-size: 1.2rem;
    font-style: oblique;
    user-select: none;
    cursor:auto;
}


#footer_separator {
    width: 90%;
    margin: 0 auto;
    background-color: #bfbfbf;
    height: 2px;
    margin-top: 85px;
}

#black_container {
    margin-top: 50px;
    background-color: #1D1F20;
    /* align-self: flex-end;  */
    margin-top: auto;    
    display: flex;
    justify-content: center;
    flex-direction: column;     
}


#footer_infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 400px; */
    height: 90px;
    width: 90%;
    margin: 0 auto;
    
}

#footer_infos>*{
    color: #bfbfbf;
}

#footer_names {
    font-style: italic;
    position: relative;
    right: 20px;
}

#contact_us_mail {
    margin-top: 20px;
}



#footer_logo:hover {
    cursor: auto;

}

/* media queries */
@media screen and (max-width:900px) {

    *{
        
    }
    
    #article_zone {
        width: 95%;
    }

    .item-image>img {
        height: auto;
        width: 80%;
    }

    .article-item{
        
        flex-direction: column;
        align-items: center;
    }

    .item-description {
        width: 100%;
    }

    .item-content {
        flex-direction: column;
    }


    .item-buttons {
        display: flex;
        justify-content: center;
    }
}