* {
    font-family: 'Inter', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: #BFC3C8;
}

/* Header */
.main-title {
    background-color: #35373B;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 22px;
    padding: 15px 0px;
}

/* Logo et titre SeinkSansGroove */
.logo {
    width: 50px;
    height: 50px;
}

.logo:hover {
    cursor: pointer;
}

h1#title {
    color: white;
    font-size: 1.2rem;
    font-style: oblique;
    user-select: none;
    cursor: pointer;
}

/* Barre de recherche et bouton */
.form-search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.research-bar {
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border: none;
}

#search_button {
    width: fit-content;
    height: 28px;
    border: white 1px solid;
    border-radius: 4px;
    background-color: white;
    padding-top: 7px;
    padding-bottom: 21px;
    width: 25px;
}

#search_button:hover {
    cursor: pointer;
}

/* Boutons connexion et inscription */
.user {
    display: flex;
    align-items: center;
    gap: 5px;
}

#greener {
    background-color: #11882b;
    border-color: #11882b;
}

/* Liste des marques */
.brands-list {
    background-color: #1D1F20;
    display: flex;
    justify-content: center;
    background-image: url("../assets/topmarques.svg");
    background-size: 100% 100%;
}

.brands-list>button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.brands-list>button {
    transition: 0.2s;
}


.brands-list button {
    margin: 24px 10px;
    padding: 1.3% 3%;
    background-color: #2F2F2F;
    border: #35373B 1px solid;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#navbar_searchbar {
    padding-left: 10px;
}


.page_link:hover {
    color: white;
    transition: 0.2s;
}


.page_link {
    transition: 0.2s;
}

.label-hamburger,
#toggle {
    display: none;
}
#notification{
    width: 25px;
    height: 25px;
    color: white;
    background-color: #f72918;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
#echoqte {
    position: relative;
}


/* CLOCHE NOTIFS */
#notification {
    position: relative;
    left: -20px;
    bottom: 12px;
}

/* media queries */
@media screen and (max-width:900px) {
    .research-bar {
        width: 150px;
    }
    
}

@media screen and (max-width:740px) {
 
    
    #nav
    {
        height: 60px;
        background-color: #1D1F20;
    }
 
    #nav .main-title 
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }
 
    #nav .main_title a {
        width: 50%;
    }
 
 
    .label-hamburger 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    #toggle:checked + .main-title{
        display: flex;
        position: relative;
        z-index: 1;
        margin: auto;
        background-color: #1D1F20;
        height: fit-content;
    }

}
