* {
    font-family: 'Inter', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
    color: #BFC3C8;
}

/* Header */
.main-title{
    background-color: #35373B;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 22px;
    padding: 15px 0px;
}

/* Logo et titre SeinkSansGroove */
.logo{
    width: 50px;
    height: 50px;
}

h1#title{
    color: white;
    font-size: 1.2rem;
    font-style: oblique;
    user-select: none;
}

/* Barre de recherche et bouton */
.form-search{
    display: flex;
    align-items: center;
    gap: 5px;
}

.research-bar{
    width:300px;
    height: 28px;
    border-radius:4px;
    border: none;
}

#search-logo{
    width: fit-content;
    height: 28px;
    border: white 1px solid;
    border-radius: 4px;
    background-color: white;
    padding-top: 7px;
    padding-bottom: 21px;
}

/* Boutons connexion et inscription */
.user{
    display: flex;
    align-items: center;
    gap: 5px;
}

#greener{
    background-color:#11882b;
    border-color: #11882b;
}

/* Liste des marques */
.brands-list {
    background-color: #1D1F20;
    display: flex;
    justify-content: center;
    background-image: url("../assets/topmarques.svg");
    background-size: 100% 100%;
}

.brands-list button {
    margin: 24px 10px;
    padding: 8px 30px;
    background-color: #2F2F2F;
    border: #35373B 1px solid;
    border-radius: 5px;
    color: white;
    cursor:pointer;
}